
body {
    font-family: Arial, Helvetica, sans-serif;
  }

  form {
    border: 3px solid #f1f1f1;
  }

  input[type=text],
  input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Changed width to 13%  */
  img.avatar {
    width: 13%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }

    .cancelbtn {
      width: 100%;
    }
  }


/**************************************************************************** */

#FistH2{
  /* Changed the font color and size of the element "Login Form" */
    color: rgb(36, 24, 216); 
    font-size: 2.5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    /* Centered the 'Login Form" text */
    margin: 6vh auto;
    padding: 7px 0;
    width: 300px;
    text-align: center;

     /* A spotted, blue border, with rounded corners. */
    border: 1px dotted blue;
    border-radius: 5px;
}

/* Added pseudo-class selector to the element: "Login Form" change size when hover */
#FistH2:hover{
    font-size: 3em;
}

/* Made the first letter of the button bigger, with a different font, and purple. */
.cancelbtn::first-letter{
    font-size: 2em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
}
