
@{
    ViewBag.Title = "ApplicationSubmitted";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Submitted</h2>


<h3>The application has been submitted for review</h3>


@Html.ActionLink("Back to pet list", "Index", "Pets", new { @class = "btn btn-info btn-md" })
