@model IEnumerable<MVC_Pet_Store.Models.ApplicationUser>

@{
    ViewBag.Title = "UsersAdm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Administration</h2>

<br />

<h3>Users</h3>

@if (!Model.Any())
{
    <p>No users to show.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>EMail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@Html.ActionLink(user.FullName, "Details", "Users", new { id = user.Id }, null)</td>
                    <td>@user.Email</td>
                </tr>
            }
        </tbody>
    </table>
}   